spring.application.name=fintech
spring.datasource.url=jdbc:postgresql://localhost:5433/fintech?sslmode=disable
spring.datasource.username=your-username
spring.datasource.password=your-password

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

jwt.secret=your-secret-key-min-32-chars
jwt.expiration=86400000